{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">

        <div class="card shadow-sm">
            <div class="card-body">
                <h4 class="text-center mb-4">Register with Phone</h4>
                {% if message %}
                <p style="color:red; text-align:center;">
                       {{ message }}
                </p>
                {% endif %}

                <form method="post">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label">Phone Number</label>
                        <input
                            type="text"
                            name="phone"
                            class="form-control"
                            placeholder="Enter phone number"
                            maxlength="10"
                            required
                        >
                    </div>
                    <div class="mb-3">
                        <label class="form-label">User name</label>
                        <input
                            type="text"
                            name="username"
                            class="form-control"
                            placeholder="Enter username"
                            required
                        >
                    </div>
 
                    <button type="submit" class="btn btn-primary w-100">
                        Send OTP
                    </button>
                </form>
                <div class="text-center mt-3">
                    <span>Already have an account?</span>
                    <a href="{% url 'login' %}" class="btn btn-outline-primary btn-sm">
                       Login
                    </a>
                </div>

            </div>
        </div>

    </div>
</div>
{% endblock %}

