{% extends "base.html" %}

{% block content %}

<div class="card shadow p-4">

    <h3 class="text-success text-center">
        ✅ Appointments Confirmed
    </h3>

    <hr>

    {% for appointment in appointments %}

    <div class="mb-4 border-bottom pb-3">

        <p>
            <strong>Doctor:</strong>
            {{ appointment.doctor.name }}
        </p>

        <p>
            <strong>Specialization:</strong>
            {{ appointment.doctor.specialization }}
        </p>

        <p>
            <strong>Patient Name:</strong>
            {{ appointment.patient_name }}
        </p>

        <p>
            <strong>Date:</strong>
            {{ appointment.slot.date }}
            <br>

            <strong>Time:</strong>
            {{ appointment.slot.start_time }}
            –
            {{ appointment.slot.end_time }}
        </p>

        <a
            href="{% url 'appointments:download_invoice' appointment.id %}"
            class="btn btn-outline-primary btn-sm"
        >
            Download Confirmation
        </a>

        <a
            href="{% url 'appointments:upload_report' appointment.id %}"
            class="btn btn-outline-success btn-sm"
        >
            📄 Upload Report
        </a>

    </div>

    {% endfor %}

    <div class="text-center">

        <a
            href="{% url 'services' %}"
            class="btn btn-primary"
        >
            Return to Home
        </a>

    </div>

</div>

{% endblock %}
